/* 공통적으로 모두 적용할 css */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Press Start 2p", cursive;
  font-size: 15px;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-select-container {
  display: none;
}

#logo {
  margin-bottom: 30px;
  margin-top: -80px;
  width: 240px;
}

#game-diaplay-left {
  position: absolute;
  width: 226px;
  top: 371px;
  left: 195px;
}

#game-diaplay-right {
  position: absolute;
  width: 245px;
  top: 361px;
  left: 1274px;
}

#insert-coin-text {
  color: yellow;
}

#game-container {
  width: 1707px;
  height: 930px;
  position: relative;
}

#game-background-img {
  width: 1707px;
  height: 930px;
  background-repeat: no-repeat;
  object-fit: fill;
}

#console {
  width: 403px;
  border: 3px solid #000;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 660px;
  bottom: 325px;
}

#game-coin-img {
  position: absolute;
  z-index: 3;
  top: 440px;
  left: 820px;
  width: 100px;
  display: none;
}

#game-addcoin-img {
  position: absolute;
  z-index: 10000;
  top: 30%;
  left: 40%;
  width: 100px;
  display: none;
}

#game-yellow-btn-img {
  position: absolute;
  width: 100px;
}

#game-green-btn-img {
  position: absolute;
  width: 100px;
}

#game-blue-btn-img {
  position: absolute;
  width: 100px;
}

#game-yellow-btn-container {
  position: absolute;
  top: 630px;
  left: 850px;
}

#game-green-btn-container {
  position: absolute;
  top: 630px;
  left: 930px;
}

#game-blue-btn-container {
  position: absolute;
  top: 630px;
  left: 1010px;
}

#game-btn-body-img {
  position: absolute;
  width: 100px;
}

.push-yellow-btn {
  animation: pushYellowBtn;
  animation-duration: 0.3s;
}

.push-green-btn {
  animation: pushGreenBtn;
  animation-duration: 0.3s;
}

.push-blue-btn {
  animation: pushBlueBtn;
  animation-duration: 0.3s;
}

#game-joystick-img {
  position: absolute;
  z-index: 2;
  width: 130px;
  top: 591px;
  left: 650px;
}

.joystick-left {
  animation: jostickLeft;
  animation-duration: 0.2s;
}

.joystick-right {
  animation: jostickRight;
  animation-duration: 0.2s;
}

.joystick-up {
  animation: jostickUp;
  animation-duration: 0.2s;
}

.joystick-down {
  animation: jostickDown;
  animation-duration: 0.2s;
}

#game-joystick-body-img {
  position: absolute;
  width: 120px;
  top: 598px;
  left: 655px;
}

#games {
  margin: 20px 0;
}

.game-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#gameView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px; /* 이전에 설정된 높이 */
  background-color: #000; /* 기존의 배경색 */
  color: white;
}

#content,
#game-start-content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#game-selection {
  color: white;
  position: relative;
  text-align: center;
  top: 90px;
}

#selected-game {
  font-size: 20px;
}

.game-controls {
  position: relative;
  bottom: 50%;
  height: 50%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* 다른 요소 위에 표시 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.control-button.selected {
  background-color: #e55b5b; /* 선택된 버튼의 배경색 변경 */
  color: rgb(236 236 236);
  font-size: 1.05em; /* 폰트 크기 증가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  transition: transform 0.3s, box-shadow 0.3s; /* 부드러운 변화 효과 */
  border-radius: 10px;
}

.control-button-dino.selected {
  background-color: #e55b5b; /* 선택된 버튼의 배경색 변경 */
  color: rgb(236 236 236);
  font-size: 1.05em; /* 폰트 크기 증가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  transition: transform 0.3s, box-shadow 0.3s; /* 부드러운 변화 효과 */
  border-radius: 10px;
}

.control-button-dino {
  position: relative;
  height: 25%;
  width: 100%;
  border-radius: 10px;
  font-size: 12px;
  background-color: #6a6a6aa3;
  color: #868686;
}

h2#highScore-label,
#tetris-label {
  font-size: 13px;
  line-height: 16px;
}

#tetris-coin-label,
#tetris-coin {
  font-size: 12px;
}

#score,
#lines,
#level {
  font-size: 10px;
}

canvas#next {
  margin-top: 10px;
}

.hide {
  display: none;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes jostickLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    left: 635px;
    transform: rotate(-30deg);
  }
}

@keyframes jostickRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    left: 670px;
    transform: rotate(30deg);
  }
}

@keyframes jostickDown {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: perspective(170px) rotatex(-35deg);
  }
}

@keyframes jostickUp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: perspective(120px) rotatex(35deg);
  }
}

@keyframes pushYellowBtn {
  100% {
    top: 5px;
  }
}

@keyframes pushGreenBtn {
  100% {
    top: 5px;
  }
}

@keyframes pushBlueBtn {
  100% {
    top: 5px;
  }
}

li#li-marker-tetris {
  font-size: 10px;
  margin-left: 12%;
}

#count-down {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  z-index: 9999;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.9);
}

#count-number {
  font-size: 30px;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.9);
  margin-bottom: 20px;
}

#count-down p:nth-of-type(1) {
  font-size: 17px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.9);
}

#count-down p:nth-of-type(3) {
  font-size: 27px;
  color: yellow;
}
