/* 공통적으로 모두 적용할 css */
* {
  font-family: "Press Start 2p", cursive;
}

#console {
  width: 600px;
  height: 467px;
  margin: 10px auto;
  padding: 40px;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: #f0f0f0;
  text-align: center;
}

#games {
  margin: 20px 0;
}

.game-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#gameView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px; /* 이전에 설정된 높이 */
  background-color: #000; /* 기존의 배경색 */
  color: white;
}

#content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#game-selection {
  color: white;
  position: relative;
  text-align: center;
  top: 120px;
}

#selected-game {
  font-size: 20px;
}

.game-controls {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* 다른 요소 위에 표시 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-button.selected {
  background-color: #a19f9f; /* 선택된 버튼의 배경색 변경 */
  color: black;
  font-size: 1.05em; /* 폰트 크기 증가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  transition: transform 0.3s, box-shadow 0.3s; /* 부드러운 변화 효과 */
}

.hide {
  display: none;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
