:root {
  --txt-primary: #535353;
  --txt-hover: #292929;
  --background: #f7f7f7;
}

.game {
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}

.control-button {
  height: 4vmin;
  position: relative;
  top: 50px;
  margin-bottom: 10px;
}

.score {
  position: absolute;
  right: 5vmin;
  top: 2vmin;
  font-size: 0.8rem;
}

.start-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message p {
  letter-spacing: 0.5em;
}

.gameover-message span {
  font-size: 0.6rem;
  text-transform: none;
}

.ground {
  --left: 0;
  width: 300%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  height: 30%;
  position: absolute;
  left: 1%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  height: 30%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.hide {
  display: none;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-wrapper {
  display: flex;
  gap: 40px;
}

.button {
  width: 150px;
  height: 175px;
  background-color: #2e2e2e;
  border: none;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.selected {
  border: 2px solid #ce3f3f;
}

.button-image {
  width: 45%;
  height: 45%;
  object-fit: contain;
}
