:root {
  --txt-primary: #535353;
  --txt-hover: #292929;
  --background: #f7f7f7;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.control-button {
  height: 4vmin;
  position: relative;
  top: 50px;
  margin-bottom: 10px;
}

.score {
  position: absolute;
  right: 5vmin;
  top: 2vmin;
  font-size: 0.8rem;
}

.start-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message p {
  letter-spacing: 0.5em;
}

.gameover-message span {
  font-size: 0.6rem;
  text-transform: none;
}

.ground {
  --left: 0;
  width: 300%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  height: 20%;
  position: absolute;
  left: 1%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  height: 20%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}
.parent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.button-wrapper {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.button {
  position: relative;
  width: 50%;
  height: 80%;
  background-color: #2e2e2e;
  border: none;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.selected {
  border: 2px solid #ce3f3f;
}

.button-image {
  width: 45%;
  height: 45%;
  object-fit: contain;
}

.ranking-modal {
  position: relative;
  bottom: 50%;
  left: 50%;
  width: 80%;
  height: 70%;
  transform: translate(-50%, -50%);
  background-color: rgb(149, 146, 146);
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 5%;
}
.rank-modal-button {
  width: 100%; /* 전체 너비 사용 */
  display: flex;
  justify-content: space-around; /* 버튼 간격 조정 */
}
.hide {
  display: none;
}
#dinoHighScores > li {
  position: relative;
  left: 15%;
  width: 80%;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.name-entry-modal {
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background: #7a7878;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  border-radius: 5px;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 95%;
}

.modal-button-name {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #cddcce;
  border: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.hide {
  display: none;
}
.modal-button {
  font-size: 1em;
  margin-left: 10px;
  width: 60%;
  height: 110%;
}

.modal-button.selected {
  background-color: #a19f9f; /* 선택된 버튼의 배경색 변경 */
  color: black;
  font-size: 1.2em; /* 폰트 크기 증가 */
}
.flash-effect {
  animation: flash 1s infinite;
}
@keyframes flash {
  0%,
  100% {
    color: rgb(234, 255, 0);
  }
  50% {
    color: rgba(234, 255, 0, 0.805);
  }
  25% {
    color: white;
  }
}
