/* 테트리스 게임에만 담을 css */
.grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: 120px 130px 130px;
  grid-template-rows: 240px;
  font-size: 8px;
  padding-left: 20px;
  padding-right: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  margin-top: 5px;
  margin-left: 8px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 5px;
}

.game-board {
  border: solid 2px;
  margin-top: 10px;
}

.game-board-container {
  display: flex;
  justify-self: center;
  align-items: center;
}

.play-button {
  background-color: #4caf50;
  font-size: 13px;
  padding: 8px 10px;
  cursor: pointer;
  width: 120px;
}

#pause-btn {
  display: none;
}

#sound-speaker {
  font-size: 20px;
}

.sound-item {
  cursor: pointer;
}

.hide {
  display: none;
}

.screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#nickname-screen {
  display: none;
  justify-content: center;
  align-items: center;
}

#nickname-form {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

#nickname-form label {
  display: block;
  margin-bottom: 10px;
}

#nickname-form input {
  background-color: black;
  border: 0px;
  color: white;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
}

#nickname-form button {
  padding: 5px 10px;
  background-color: #848484;
  color: white;
  border: 0px;
}

.leaderboard-container {
  display: none;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 0px;
  border-radius: 8px;
  width: 300px;
  margin: 0px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leaderboard-list {
  list-style-type: none;
  padding: 20px;
}

#leaderboard-list li {
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.button-row button {
  width: 45%;
  padding: 4px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.button-row button:hover {
  background-color: #45a049;
}
